ScreenCtx {
  layers: bottom popup alert;
  align-horizontal: center;
}

Alerts {
  layer: alert;
  width: auto;
  height: auto;
}

PopupMenuWrapper {
  layer: popup;
}

PopupMenu {
  layer: popup;
  align-horizontal: center;
  border: round $primary;
  border-title-align: left;
  padding: 0 1;
  width: 50vw;
  height: auto;
  max-height: 50vh;
}

AppHeader {
  color: $text-primary;
  padding: 1 2;
  height: auto;
}

AppBody {
  padding: 0 1;
}

SelectAnimeDir {
  padding: 0;
  height: auto;

  Input {
    padding: 0 1;
    border: none;
    width: 100%;
    height: 1;
    background: $background;

    &:focus {
      background-tint: white 0%;
    }
  }

  Rule {
    margin: 0;
  }

  OptionList {
    height: 20vh;
    overflow: hidden auto;
    background: $background;
    scrollbar-size: 0 1;

    & > .option-list--option {
      padding: 0 1;
    }
  }
}

DownloadedList {
  width: 1fr;
  border: round $primary;
  border-title-align: left;

  ListView {
    overflow: hidden auto;
    scrollbar-size: 0 1;
    background: $background;
  }
}
